.header
  .container-fluid
    .row
      .col-3
        .inner-logo
          button#sidebarToggle.sidebar-toggle-btn
            i.fas.fa-bars
          img(src="/admin/images/logo3.png" alt="Logo")
          span EARTH ODYSSEY
      //- .col-9
        //- .profile
        //-   .profile-logo.dropdown.dropdown-toggle
        //-     img(src="/admin/images/profile.jpg" alt="Profile Logo")
        //-     .profile-name Tran Quang Minh
        //-     .profile-dropdown
        //-       ul
        //-         li: a(href="#") Thông tin cá nhân
        //-         li Cài đặt
        //-         li: a(href="#") Đăng xuất